/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex{
  display: flex;
  width: 80%;
  margin: 0 auto;
 justify-content: space-between;
  align-items: center;
}

a, h3, h4{
  text-decoration: none;
  color: white;
  padding-right: 5px;
}

/* header */
header{
  background-color: #ff6900;
  padding: 15px 0;
  color: white;
  position: sticky;
}

.sfumatura{
  height: 3px;
  width: 100%;
  background-image: linear-gradient(rgb(154, 154, 154), rgb(255, 255, 255, 0)) ;
  position: absolute;
  bottom: -3px;
}

header img{
  width: 10%;
}

header a{
  font-size: large;
}

/* main */
main{
  margin: 40px 0;
}
.card{
  width: 30%;
  position: relative;
}
main img{
  max-width: 100%;
  height: auto;
}
.cuore, .sconto, .eco{
  position: absolute;
}

.cuore{
  height: 50px;
  width: 50px;
  background-color: white;
  top: 10px;
  right: 0px;
  justify-content: center;
  font-size: xx-large;
}

.sconto{
  background-color: red;
  color: white;
  padding: 5px 10px;
  top: 450px;
}

.eco{
  background-color: green;
  color: white;
  padding: 5px 10px;
  top: 450px;
  left: 60px;
}



/* footer */
footer{
  background-color: #1a1a1a;
  padding: 15px 0;
}

h3{
  font-size: small;
  font-weight: bolder;
}

h4{
  font-size: small;
}
footer a{
  font-size: small;
}

footer span{
padding-left: 5px;
}

footer span a:last-child{
 padding-right: 0;
}