/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex{
  display: flex;
  width: 70%;
  margin: 0 auto;
 justify-content: space-between;
  align-items: center;
}

a, h3, h4{
  text-decoration: none;
  color: white;
  padding-right: 5px;
}

/* header */
header{
  background-color: #ff6900;
  padding: 15px 0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sfumatura{
  height: 3px;
  width: 100%;
  background-image: linear-gradient(rgb(154, 154, 154), rgb(255, 255, 255, 0)) ;
  position: absolute;
  bottom: -3px;
}

header img{
  width: 10%;
}

header a{
  font-size: large;
}

/* main */
main{
  margin: 40px 0;
}

main .flex{
  flex-wrap: wrap;
}

.card{
  width: 30%;
  position: relative;
  padding-bottom: 40px;
}
main img{
  max-width: 100%;
  height: auto;
}

.cuore, .sconto, .eco, .eco1{
  position: absolute;
}

.cuore{
  height: 30px;
  width: 30px;
  background-color: white;
  top: 10px;
  right: 0px;
  justify-content: center;
  font-size: large;
}

.sconto{
  background-color: red;
  color: white;
  padding: 5px 10px;
  top: 70%;
}

.eco, .eco1{
  background-color: green;
  color: white;
  padding: 5px 10px;
  top: 70%;
  left: 60px;
}

.eco1{
  left: 0;
}

h2{
  font-size: large;
  text-transform: uppercase;
}

.scontato{
  font-size: small;
  font-weight: bolder;
  color: red;
}
.barrato{
  font-size: small;
  font-weight: bold;
  text-decoration: line-through;
}

.immagine1{
  display: none;
}

/* hover */
.cuore:hover{
  color: red;
}
.card:hover .immagine{
  display: none;
}
.card:hover .immagine1{
  display: block;
}

/* footer */
footer{
  background-color: #1a1a1a;
  padding: 15px 0 20px 0;
  border-bottom: 1px solid white;
}

h3{
  font-size: small;
  font-weight: bolder;
}

h4{
  font-size: small;
}
footer a{
  font-size: small;
}

footer span{
padding-left: 5px;
}

footer span a:last-child{
 padding-right: 0;
}